{% extends "layout.html" %}

{% block title %}
MainPage
{% endblock %}

{% block main %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to JoFunding</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
        Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      {% if session["user_id"] %}
      <a href="/submit" class="btn btn-primary btn-lg">Submit a Business</a>
      {% else %}
      <p>
        <a href="login" class="btn btn-primary my-2">Login</a>
        <a href="register" class="btn btn-secondary my-2">Register</a>
      </p>
      {% endif %}
    </div>
  </div>
</section>
<option id="data" hidden> {{img}} </option>
<div class="album py-5 bg-light">
  <div class="container">
    <div id="objects" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    </div>
  </div>
</div>
<script src="static\index.js"></script>

{% endblock %}