{% extends "layout.html" %}

{% block title %}
    MainPage
{% endblock %}

{% block main %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to JoFunding</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    {% if session["user_id"] %}
    <a href="/submit" class="btn btn-primary btn-lg">Submit a Business</a>
    {% else %}
      <p>
        <a href="login" class="btn btn-primary my-2">Login</a>
        <a href="register" class="btn btn-secondary my-2">Register</a>
      </p>
    {% endif %}
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div id="objects" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      </div>
    </div>
  </div>
</div>
  <script>
          url = "/api";
          string = ""
          axios.get(url)
          .then(function(response) {
          var data = response.data;
          Object.keys(data).forEach(function(key){
            string += `<div class="col">
              <div class="card shadow-sm">
                <img src="data:;base64,${data[key][1]}" class="card-img-top" width="300" height="400">
                <div class="card-body">
                  <p class="card-text">${data[key][2]}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
             </div>`
          })
          document.getElementById('objects').innerHTML= string;
          
        })
        .catch(function(error) {
            console.log(error);
        });

  </script>
{% endblock %}