{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    {% if error == True%}
    <div class="alert alert-danger" role="alert">
    {{msg}}
    </div>
    {%endif%}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button id="login" class="btn btn-primary" type="submit">Login</button>
    </form>


{% endblock %}