{% extends "layout.html" %}


{% block title %}
View
{% endblock %}

{% block main %}
<style>
#card text-center{
    max-width: 30px;
  }
</style>
<div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      <div id="card" class="card text-center">
        <div id="header" class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Name of Business</h5>
          <div value="{{ id }}" id="main"><div id="test"></div></div>
          <a href="/" class="btn btn-primary">Back to Mainpage</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<script src="static\mydata.json"></script>
<script src="static\view.js"></script>
{% endblock %}